<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="3.0.2.4" targetFramework="net45" />
  <package id="FluentFTP" version="21.0.0" targetFramework="net45" />
  <package id="MahApps.Metro" version="1.6.5" targetFramework="net45" />
  <package id="MahApps.Metro.Resources" version="0.6.1.0" targetFramework="net45" />
  <package id="MahApps.Metro.SimpleChildWindow" version="1.5.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net45" />
  <package id="Syncfusion.Edit.WPF" version="16.4.0.54" targetFramework="net45" />
  <package id="Syncfusion.GridCommon.WPF" version="16.4.0.54" targetFramework="net45" />
  <package id="Syncfusion.Licensing" version="16.4.0.54" targetFramework="net45" />
  <package id="Syncfusion.SfAccordion.WPF" version="16.4.0.54" targetFramework="net45" />
  <package id="Syncfusion.Shared.WPF" version="16.4.0.54" targetFramework="net45" />
  <package id="Syncfusion.Tools.WPF" version="16.4.0.54" targetFramework="net45" />
</packages>